<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<link rel="apple-touch-icon" href="/iphone.png" />
<link media="only screen and (max-device-width: 480px)" href="/iphone.css" type= "text/css" rel="stylesheet" />
<link type="text/css" href="/survey/sencha-touch.css" rel="stylesheet"/>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<title>{% block title %}Carolina Survey{% endblock %}</title>
</head>
<body><div class="x-toolbar">{{ userInfo }}</div>
{% block content %}

{% endblock %}
</body>
</html>